@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;700&display=swap");

* {
  font-family: "Jura", sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(82, 80, 80);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 2.5rem;
  z-index: 1;
}
.menu {
  position: relative;
  margin: 0;
  top: 0;
  width: 30vw;
  height: 2rem;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
}
li a {
  text-decoration: none;
  color: white;
}
#contact {
  display: flex;
  width: 20vw;
  flex-wrap: 1;
  justify-content: center;
  align-items: center;
}
#contact > a {
  padding: 3px;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
  background-color: red;
  color: white;
}

a:hover {
  color: black;
}

#contact > a:hover {
  color: black;
  border: 1px solid black;
  scale: 1.2;
  transform: 0.5s;
}
.main {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/background.jpg);
  background-position:left;
  background-size:cover;
  background-repeat:no-repeat;
}
.text h1 {
  transform: rotate(90deg);
  color: red;
  font-size: 7rem;
  font-weight: 700;
}
.image {
  background-image: url(./assets/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  margin-top: 2.5rem;
}
